{% extends 'base.html.twig' %}

{% block title 'Home' %}

{% block body %}
   <div class="jumbotron text-center">
      <h1>Bienvenue dans le démo</h1>
      <p></p>
   </div>

   <div class="container">

   </div>

{% endblock %}