{% extends 'base.html.twig' %}

{% block title 'Editer' %}

{% block body %}
    <div class="container mt-4">
        <h2>Editer pointage</h2>
        {{  include ('pointage/_form.html.twig', {form : form, button: 'Editer'}) }}

    </div>
{% endblock body %}